<h2
  mat-dialog-title
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="10px"
>
  <mat-icon>lock</mat-icon>
  <span>修改密碼</span>
</h2>

<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column" fxFlexFill>
    <mat-form-field
      class="mat-form-field-round"
      appearance="outline"
      floatLabel="never"
    >
      <mat-icon matPrefix>lock</mat-icon>
      <input
        matInput
        [type]="isHide ? 'password' : 'text'"
        placeholder="舊密碼"
        formControlName="password"
      />
      <mat-icon matSuffix (click)="isHide = !isHide">
        {{ isHide ? "visibility" : "visibility_off" }}
      </mat-icon>
      <mat-error>此欄位為必填</mat-error>
    </mat-form-field>

    <mat-form-field
      class="mat-form-field-round"
      appearance="outline"
      floatLabel="never"
    >
      <mat-icon matPrefix>lock</mat-icon>
      <input
        matInput
        [type]="isHide ? 'password' : 'text'"
        placeholder="新密碼"
        formControlName="newPassword"
      />
      <mat-icon matSuffix (click)="isHide = !isHide">
        {{ isHide ? "visibility" : "visibility_off" }}
      </mat-icon>
      <mat-error>此欄位為必填</mat-error>
    </mat-form-field>

    <mat-form-field
      class="mat-form-field-round"
      appearance="outline"
      floatLabel="never"
    >
      <mat-icon matPrefix>lock</mat-icon>
      <input
        matInput
        [type]="isHide ? 'password' : 'text'"
        placeholder="確認密碼"
        formControlName="confirmPassword"
      />
      <mat-icon matSuffix (click)="isHide = !isHide">
        {{ isHide ? "visibility" : "visibility_off" }}
      </mat-icon>
      <mat-error>此欄位為必填</mat-error>
    </mat-form-field>

    <mat-dialog-actions align="center">
      <button mat-flat-button mat-dialog-close type="button" color="warn">
        取消
      </button>
      <button
        mat-flat-button
        type="submit"
        color="accent"
        [disabled]="!form.valid"
      >
        送出
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
