@import "~src/assets/scss/color.scss";
@import "~src/assets/scss/mat-dialog.scss";

$primary-color: map-get($colors, primary4);
$font-white: map-get($colors, white);

.mat-dialog-title {
  background-color: $primary-color;

  &::after {
    border-top: solid 1rem $primary-color;
  }
}

mat-slider {
  margin: 30px 10% 0;

  ::ng-deep {
    .mat-slider-thumb-label-text {
      color: $font-white;
      font-size: 30px;
      opacity: 1;
    }

    .mat-slider-thumb-label {
      transform: rotate(45deg);
      border-radius: 50% 50% 0;
      width: 50px;
      height: 50px;
      top: -60px;
      right: -26px;
    }

    .mat-slider-thumb {
      transform: scale(0);
    }
  }
}
