<div
  class="container"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="10px"
>
  <h3>推薦價格</h3>
  <h1 class="price">{{ recommendPrice }}</h1>

  <mat-form-field appearance="fill">
    <mat-select [(value)]="selectBrand" (selectionChange)="getProductTypes()">
      <mat-option *ngFor="let brand of brands" [value]="brand">
        {{ brand.name }}
      </mat-option>
    </mat-select>
    <mat-hint>品牌</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-select [(value)]="selectType" (selectionChange)="getProductSubTypes()">
      <mat-option *ngFor="let type of types" [value]="type">
        {{ type.name }}
      </mat-option>
    </mat-select>
    <mat-hint>類型</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-select
      [(value)]="selectSubType"
      (selectionChange)="getProductRecommendPrice()"
    >
      <mat-option *ngFor="let subType of subTypes" [value]="subType">
        {{ subType.name }}
      </mat-option>
    </mat-select>
    <mat-hint>子類型</mat-hint>
  </mat-form-field>
</div>
