@import "~src/assets/scss/color.scss";

$primary-color: map-get($colors, primary4);
$accent-color: map-get($colors, primary2);
$font-black: map-get($colors, black);

.container {
  margin: 3% 0;
}

mat-card {
  padding: 3% 5%;
  color: $primary-color;
  border-style: solid;
  border-radius: 20px;

  &:not([class*="mat-elevation-z"]) {
    box-shadow: none;
  }
}

mat-card-title {
  color: $font-black;

  .seller {
    width: 60px;
    height: 60px;
    padding: 7px;
    border: 3px solid $accent-color;
    border-radius: 50%;
  }

  .bad-record {
    font-size: 15px;
    font-weight: normal;
  }
}
