<div class="container" fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="40" fxFlex.lt-md="60" fxFlex.lt-sm="80">
    <mat-card-title
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="20px"
    >
      <img class="logo" alt="logo" src="assets/image/logo.png" />
      <span class="brand">借借露</span>
    </mat-card-title>

    <mat-card-content>
      <form class="user-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div fxLayout="column" fxFlexFill>
          <mat-form-field
            class="mat-form-field-round"
            appearance="outline"
            floatLabel="never"
          >
            <mat-icon matPrefix>person</mat-icon>
            <input
              matInput
              type="text"
              placeholder="帳號"
              formControlName="account"
            />
            <mat-error>請輸入你的帳號！！！</mat-error>
          </mat-form-field>

          <mat-form-field
            class="mat-form-field-round"
            appearance="outline"
            floatLabel="never"
          >
            <mat-icon matPrefix>lock</mat-icon>
            <input
              matInput
              [type]="isHide ? 'password' : 'text'"
              placeholder="密碼"
              formControlName="password"
            />
            <mat-icon matSuffix (click)="isHide = !isHide">
              {{ isHide ? "visibility" : "visibility_off" }}
            </mat-icon>
            <mat-error>請輸入你的密碼！！！</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
          <mat-checkbox (change)="changeRememberMe($event)">
            記住我
          </mat-checkbox>
          <a class="forget-password" (click)="openDialog()">忘記密碼</a>
        </div>

        <mat-card-actions
          fxLayout="row"
          fxLayout.xs="column"
          fxLayoutAlign="space-around"
        >
          <button
            mat-button
            type="button"
            routerLink="/auth/register"
            fxFlex="40"
            fxFlex.lt-sm="100"
          >
            註冊
          </button>

          <button
            mat-button
            class="login"
            type="submit"
            [disabled]="!form.valid"
            fxFlex="40"
            fxFlex.lt-sm="100"
          >
            登入
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
