/* You can add global styles to this file, and also import other style files */

@import "src/assets/scss/theme.scss";
@import "src/assets/scss/material.scss";

html,
body {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  font-family: Arial, "Microsoft JhengHei", sans-serif;
}
