<div class="container" fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column" fxFlex="60" fxFlex.lt-md="80">
    <div
      class="title"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="20px"
    >
      <h1>常見問題</h1>
      <button
        mat-flat-button
        type="button"
        color="accent"
        (click)="openDialog()"
      >
        問題回報
      </button>
    </div>

    <mat-card fxLayoutAlign="center">
      <mat-accordion fxFlex="90">
        <div *ngFor="let faq of faqs">
          <h3>{{ faq.type }}</h3>
          <mat-expansion-panel *ngFor="let question of faq.questions">
            <mat-expansion-panel-header>
              <mat-panel-title>{{ question.title }}</mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{ question.content }}</p>
          </mat-expansion-panel>
        </div>
      </mat-accordion>
    </mat-card>
  </div>
</div>
