@import "~src/assets/scss/color.scss";
@import "~src/assets/scss/mat-dialog.scss";

$primary-color: map-get($colors, primary4);
$icon-color: map-get($colors, primary2);
$font-white: map-get($colors, white);

.mat-dialog-title {
  background-color: $primary-color;

  &::after {
    border-top: solid 1rem $primary-color;
  }
}

:host ::ng-deep mat-form-field {
  mat-icon {
    margin-right: 10px;
    color: $icon-color;
  }

  .mat-form-field-infix {
    margin: auto 0;
    border: none;
  }
}

.slider {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  border: solid 1px $primary-color;

  ::ng-deep {
    .ng-image-slider .ng-image-slider-container .main .main-inner .img-div img {
      border-radius: 0;
    }
  }
}
